<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ConexaoDemoDB"
			 connectionString="Data Source=Dev;Initial Catalog=Demo_DB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
	<system.serviceModel>
		<services>
			<service name="WCFServiceHost.CadastroService">
				<endpoint address="" binding="basicHttpBinding" contract="WCFServiceHost.ICadastroService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>